$white: #fff;
$black: #000;

$blue-01: #6699CC;
$blue-02: #336699;

$orange-01: #FF9933;

$pink-01: #D0677D;

$grey-01: #F4F4F4;
$grey-02: rgba(0, 0, 0, 0.12);
$grey-03: rgba(0, 0, 0, 0.16);
$grey-04: #D9D9D9;
$grey-05: rgba(0, 0, 0, 0.2);
$grey-06: #CBCBCB;
$grey-07: #909090;
$grey-08: #878787;
$grey-09: #5D5D5D;
